<div ng-controller="SignupController">

		<input ng-model="input.username" type="text" placeholder="Username">
		<input ng-model="input.password" type="password" placeholder="Password">
		<input ng-model="input.confirmPassword" type="password" placeholder="ConfirmPassword">
		<button ng-click="signup()">SignUp</button>
		<button ng-click="gotoLogin()">ALREADY HAVE ACCOUNT</button>
		<a href="#/login">ALREADy HAVE AN ACCOUNT? LOGIN</a>
		
		
</div>
<div ng-controller="TestController">
	<button ng-click="enter()">ENTER</button>
</div>
	
	